Repository buddypress/BP-REST, pull requests merged in 2018-08, with the labels that each got.

#70 Fix issue when getting the specific activity comment.
  includes/bp-activity/classes/class-bp-rest-activity-endpoint.php
Labels: Component: Activity, bug

#67 Add notification endpoint v1
  README.md
  bp-rest.php
  includes/bp-notifications/classes/class-bp-rest-notifications-endpoint.php
Labels: Component: Notification, enhancement

#75 The user_login is a required field to insert a new user.
  includes/bp-members/classes/class-bp-rest-members-endpoint.php
  tests/members/test-controller.php
Labels: Component: Activity

#76 Make BP_REST_Activity_Endpoint->create_item() more friendly to BP plugins
  includes/bp-activity/classes/class-bp-rest-activity-endpoint.php
  includes/bp-members/classes/class-bp-rest-members-endpoint.php
  tests/activity/test-controller.php
Labels: Component: Activity

#80 Add Activity favorites
  README.md
  includes/bp-activity/classes/class-bp-rest-activity-endpoint.php
  tests/activity/test-controller.php
Labels: Component: Activity
