Repository buddypress/BP-REST, pull requests merged in 2018-12, with the labels that each got.

#103 Query activity items regardless of spam status
  includes/bp-activity/classes/class-bp-rest-activity-endpoint.php
Labels: Component: Activity, enhancement

#104 Adding ability to filter the query args of the get_items queries
  includes/bp-activity/classes/class-bp-rest-activity-endpoint.php
  includes/bp-groups/classes/class-bp-rest-groups-endpoint.php
  includes/bp-messages/classes/class-bp-rest-messages-endpoint.php
  includes/bp-notifications/classes/class-bp-rest-notifications-endpoint.php
  includes/bp-xprofile/classes/class-bp-rest-xprofile-fields-endpoint.php
  includes/bp-xprofile/classes/class-bp-rest-xprofile-groups-endpoint.php
Labels: enhancement

#105 "primary_association" New Naming
  includes/bp-activity/classes/class-bp-rest-activity-endpoint.php
  includes/bp-messages/classes/class-bp-rest-messages-endpoint.php
  tests/activity/test-controller.php
Labels: Component: Activity, Component: Messages, enhancement

#117 Activity show hidden
  includes/bp-activity/classes/class-bp-rest-activity-endpoint.php
  tests/activity/test-controller.php
Labels: Component: Activity, Component: Groups, bug

#114 Don't modify core /users/ query results.
  includes/bp-members/bp-members-filters.php
Labels: Component: Members, question
