Repository buddypress/BP-REST, pull requests merged in 2019-03, with the labels that each got.

#163 Request a Group Membership
  README.md
  bp-rest.php
  includes/bp-groups/classes/class-bp-rest-group-membership-endpoint.php
  includes/bp-groups/classes/class-bp-rest-group-membership-request-endpoint.php
  includes/bp-groups/classes/class-bp-rest-groups-endpoint.php
  tests/groups/test-group-membership-request-controller.php
Labels: Component: Groups

#161 Avatar Upload Endpoints
  README.md
  bp-rest.php
  includes/bp-attachments/classes/class-bp-rest-avatar-endpoint.php
  tests/attachments/test-avatar-controller.php
Labels: Component: Members, enhancement

#169 Make sure the items proprerty is defined when the parameter type is an array
  includes/bp-activity/classes/class-bp-rest-activity-endpoint.php
  includes/bp-groups/classes/class-bp-rest-group-membership-endpoint.php
  includes/bp-groups/classes/class-bp-rest-groups-endpoint.php
  includes/bp-members/classes/class-bp-rest-members-endpoint.php
  includes/bp-xprofile/classes/class-bp-rest-xprofile-field-groups-endpoint.php
  includes/bp-xprofile/classes/class-bp-rest-xprofile-fields-endpoint.php
  tests/membership/test-group-membership-controller.php
Labels: Component: Activity, Component: Groups, Component: Members, Component: XProfile, bug

#167 Group Avatar Endpoints
  bp-rest.php
  includes/bp-attachments/classes/class-bp-rest-group-avatar-endpoint.php
  includes/bp-attachments/classes/class-bp-rest-member-avatar-endpoint.php
  includes/bp-attachments/classes/trait-attachments.php
  includes/bp-groups/classes/class-bp-rest-groups-endpoint.php
  tests/attachments/test-group-avatar-controller.php
  tests/attachments/test-member-avatar-controller.php
Labels: Component: Groups

#170 Improve the way private message threads are fetched
  includes/bp-messages/classes/class-bp-rest-messages-endpoint.php
Labels: Component: Messages, bug

#175 PHPCS Support
  .travis.yml
  bin/test.sh
  bp-rest.php
  includes/functions.php
Labels: enhancement
