Repository buddypress/BP-REST, pull requests merged in 2019-01, with the labels that each got.

#125 Transparent Params for Activity Queries
  includes/bp-activity/classes/class-bp-rest-activity-endpoint.php
  tests/activity/test-controller.php
Labels: Component: Activity, enhancement

#124 Group Membership Endpoint
  README.md
  bp-rest.php
  includes/bp-groups/classes/class-bp-rest-group-members-endpoint.php
  includes/bp-groups/classes/class-bp-rest-groups-endpoint.php
  includes/bp-members/classes/class-bp-rest-members-endpoint.php
  includes/functions.php
  tests/groups/test-group-member-controller.php
Labels: Component: Groups, Component: Members

#135 Updated URI format for group member endpoint.
  includes/bp-groups/classes/class-bp-rest-group-members-endpoint.php
  tests/groups/test-group-member-controller.php
Labels: Component: Groups

#132 Allow Filtering of BuddyPress Namespace
  includes/bp-activity/classes/class-bp-rest-activity-endpoint.php
  includes/bp-groups/classes/class-bp-rest-group-members-endpoint.php
  includes/bp-groups/classes/class-bp-rest-groups-endpoint.php
  includes/bp-members/bp-members-filters.php
  includes/bp-members/classes/class-bp-rest-members-endpoint.php
  includes/bp-messages/classes/class-bp-rest-messages-endpoint.php
  includes/bp-notifications/classes/class-bp-rest-notifications-endpoint.php
  includes/bp-xprofile/classes/class-bp-rest-xprofile-fields-endpoint.php
  includes/bp-xprofile/classes/class-bp-rest-xprofile-groups-endpoint.php
  includes/functions.php
  tests/activity/test-controller.php
  tests/groups/test-controller.php
  tests/groups/test-group-member-controller.php
  tests/members/test-controller.php
  tests/notifications/test-controller.php
  tests/xprofile/test-field-controller.php
  tests/xprofile/test-group-controller.php
Labels: enhancement

#126 Group Invitation Endpoints
  README.md
  bp-rest.php
  includes/bp-groups/classes/class-bp-rest-group-invites-endpoint.php
  includes/bp-groups/classes/class-bp-rest-group-members-endpoint.php
  tests/groups/test-group-invites-controller.php
  tests/groups/test-group-member-controller.php
Labels: Component: Groups

#128 XProfile Data Endpoints
  README.md
  bp-rest.php
  includes/bp-xprofile/classes/class-bp-rest-xprofile-data-endpoint.php
  includes/bp-xprofile/classes/class-bp-rest-xprofile-fields-endpoint.php
  tests/xprofile/test-data-controller.php
Labels: Component: XProfile

#133 Components Endpoints
  README.md
  bp-rest.php
  includes/bp-components/classes/class-bp-rest-components-endpoint.php
  tests/components/test-controller.php
Labels: enhancement
