Repository buddypress/BP-REST, pull requests merged in 2020-07, with the labels that each got.

#327 Allow Group details to be available in its single endpoint
  includes/bp-groups/classes/class-bp-rest-groups-endpoint.php
  tests/groups/test-controller.php
Labels: Component: Groups, enhancement

#332 Update/remove/append group types
  includes/bp-groups/classes/class-bp-rest-groups-endpoint.php
  tests/groups/test-controller.php
Labels: Component: Groups, enhancement

#335 Make sure the response of activity posted in a group is the activity
  includes/bp-activity/classes/class-bp-rest-activity-endpoint.php
  tests/activity/test-controller.php
Labels: Component: Activity, bug

#333 Group update fix
  includes/bp-groups/classes/class-bp-rest-groups-endpoint.php
Labels: Component: Groups, enhancement

#331 List hidden groups if user has permissions, otherwise return public and private groups
  includes/bp-groups/classes/class-bp-rest-groups-endpoint.php
Labels: Component: Groups, enhancement

#337 Single member item permission checks
  includes/bp-members/classes/class-bp-rest-members-endpoint.php
  tests/members/test-controller.php
Labels: Component: Members, bug

#343 Profile Data Update
  includes/bp-groups/classes/class-bp-rest-groups-endpoint.php
  includes/bp-xprofile/classes/class-bp-rest-xprofile-data-endpoint.php
Labels: Component: XProfile, enhancement
