Repository buddypress/BP-REST, pull requests merged in 2020-04, with the labels that each got.

#304 Make sure to use the right number/offset collection params for signups
  includes/bp-members/classes/class-bp-rest-signup-endpoint.php
  tests/signup/test-controller.php
Labels: Component: Signup

#303 Update class-bp-rest-activity-endpoint.php
  includes/bp-activity/classes/class-bp-rest-activity-endpoint.php
Labels: Component: Activity

#305 Improve the Signup endpoint
  includes/bp-members/classes/class-bp-rest-signup-endpoint.php
  tests/signup/test-controller.php
Labels: Component: Signup

#306 Make sure the Signup Endpoint is more inline with the registration process
  includes/bp-members/classes/class-bp-rest-signup-endpoint.php
  tests/signup/test-controller.php
Labels: Component: Signup

#307 Fix/friends inline documentation
  includes/bp-friends/classes/class-bp-rest-friends-endpoint.php
Labels: Component: Friends

#308 Improve blog avatar into the Blogs endpoints
  includes/bp-blogs/classes/class-bp-rest-attachments-blog-avatar-endpoint.php
  includes/bp-blogs/classes/class-bp-rest-blogs-endpoint.php
  tests/blogs/test-controller.php
Labels: Component: Blogs

#309 Member Avatar: Rename the `no_grav` to `no_gravatar`
  includes/bp-members/classes/class-bp-rest-attachments-member-avatar-endpoint.php
Labels: Component: Members

#311 Group and Members Cover image
  includes/bp-attachments/classes/trait-attachments.php
  includes/bp-members/classes/class-bp-rest-attachments-member-cover-endpoint.php
Labels: Component: Groups, Component: Members, bug
