Repository buddypress/BP-REST, pull requests merged in 2020-06, with the labels that each got.

#325 Add a groups/me route to get current users’s group
  includes/bp-groups/classes/class-bp-rest-groups-endpoint.php
  tests/groups/test-controller.php
Labels: Component: Groups, enhancement

#329 Friendship status slug in the member response
  includes/bp-members/classes/class-bp-rest-members-endpoint.php
  tests/members/test-controller.php
  tests/membership/test-group-membership-controller.php
Labels: Component: Friends, Component: Members, enhancement

#328 Adding a conditional before requesting friendship
  includes/bp-friends/classes/class-bp-rest-friends-endpoint.php
  tests/friends/test-controller.php
Labels: Component: Friends, enhancement
