Repository buddypress/BP-REST, pull requests merged in 2021-07, with the labels that each got.

#410 Stop using the deprecated `bp_rest_get_user_url()` function
  includes/bp-activity/classes/class-bp-rest-activity-endpoint.php
  includes/bp-blogs/classes/class-bp-rest-blogs-endpoint.php
  includes/bp-friends/classes/class-bp-rest-friends-endpoint.php
  includes/bp-groups/classes/class-bp-rest-group-invites-endpoint.php
  includes/bp-groups/classes/class-bp-rest-group-membership-endpoint.php
  includes/bp-groups/classes/class-bp-rest-group-membership-request-endpoint.php
  includes/bp-groups/classes/class-bp-rest-groups-endpoint.php
  includes/bp-notifications/classes/class-bp-rest-notifications-endpoint.php
  includes/bp-xprofile/classes/class-bp-rest-xprofile-data-endpoint.php
Labels: bug

#412 Improve the `BP_REST_Components_Endpoint` controller to inform about active component features
  includes/bp-components/classes/class-bp-rest-components-endpoint.php
  tests/components/test-controller.php
Labels: enhancement

#413 Add a new `registered_since` property to the Members schema
  includes/bp-members/classes/class-bp-rest-members-endpoint.php
  tests/members/test-controller.php
  tests/membership/test-group-membership-controller.php
Labels: Component: Members, enhancement

#414 Members: Only query for fields when necessary
  includes/bp-members/classes/class-bp-rest-members-endpoint.php
Labels: Component: Members, enhancement

#415 Add a new property `created_since` to the Groups item schema
  includes/bp-groups/classes/class-bp-rest-groups-endpoint.php
  tests/groups/test-controller.php
Labels: Component: Groups, enhancement

#419 Remove activation key from response
  includes/bp-members/classes/class-bp-rest-signup-endpoint.php
  tests/signup/test-controller.php
Labels: Component: Signup, enhancement
