Repository buddypress/BP-REST, pull requests merged in 2024-04, with the labels that each got.

#497 XProfile field: test string with apostrophes is handled correctly in a field update
  tests/testcases/xprofile/test-data-controller.php
Labels: bug, Component: XProfile

#498 Messages: avoid a PHP Warning when getting a recipient's `display_name`
  includes/bp-messages/classes/class-bp-rest-messages-endpoint.php
Labels: enhancement, Component: Messages

#501 Fix a DB Error when BP Blogs component is active on a regular WP
  bp-rest.php
  includes/bp-activity/classes/class-bp-rest-activity-endpoint.php
  includes/bp-notifications/classes/class-bp-rest-notifications-endpoint.php
  phpunit.xml.dist
Labels: bug, Component: Blogs
